header{
    background: linear-gradient(45deg,#2a9d8f,#264653,#e76f51);
    font-style: Andale Mono, monospace;
    color: white;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    
    padding-bottom: 2%;
    text-align: center;

}
nav{
    background: linear-gradient(45deg,#e76f51,#264653,#2a9d8f);
    box-shadow: 5px 5px 10px#0000005e;
}

.img-pleure{
    height: 60vh;
    width: 40vw;
    border-radius: 5%;
    padding-bottom: 3%;
}

.img-cri{
    height: 60vh;
    width: 40vw;
    border-radius: 5%;
    
}
.inline{
    border: solid 10px black;
    background-color: #264653;
    color:white;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    border: solid 10px #264653;
    border-top: solid 50px #264653;
    border-radius: 5%;
}
.connectez{
    color: #2a9d8f;
    
}
.lire{
    margin-right: 10% ;
    margin-left: 10% ;
    padding-top: 17%;
}

main{
    padding-bottom: 10%;
}


footer{
    background: linear-gradient(45deg,#2a9d8f,#264653,#e76f51);
    margin-top: 5%;
    padding-bottom: 5%;
            
}
:visited{
    color: black;
    
}
:link{ color: black;
    
}
.display{
    display: flex;
    justify-content: space-around;
}
.twitter{
    display: flex;
    justify-content: space-around;

}
.plan{
    padding-top: 10vh;
    text-align: center;
    list-style: none;
}
.agenda{
    color: #264653;
    max-width: 1200px;
    padding-top: 2vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    box-shadow: 0 0 10px;
    
    border-radius: 2%;
}
iframe{
    text-align: center;
    margin-bottom: 1vh;
}
.lyon{
    margin-bottom: 2vh;
}
.event{
    margin-right: 1vw;
    margin-left: 1vw;
}
@media  (max-widht:700px), screen and (orientation:portrait) {
    .lyon {display: none;}
    iframe{display: none;}
    .img-pleure{ display: none;}
    
}

@media (min-widht: 400px), screen {   
    form { 
    margin-right: 20vw;
    margin-left:20vw;
    margin-top:10vh;
    margin-bottom :20vh;
    padding:5%;
    }
}